///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// MAIN
///
.breadcrumbs {
	height: 16px;
	line-height: 16px;
	margin: {
		top: 10px;
		bottom: 10px;
	}
	@include respond-to(medium) {
		padding-left: 25px;
	}
	@include respond-to(small-max) {
		display: none;
	}


	.body__checkout & {
		margin-bottom: 30px;
	}


	&__btn {
		position: relative;
		font-size: 12px;
		color: $c-navy-blue;
		padding-right: 25px;
		text-decoration: underline;


		&_current {
			text-decoration: none;
			color: $c-grey-suit;
		}


		&-icon {
			position: absolute;
			top: 5px;
			right: 9px;
			@include retina-sprite($sp-i-breadcrumbs-arrow-group);
		}
	}
}