///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// SHIPPING
///
.shipping {
	&__item {
		height: 32px;
		line-height: 32px;
		font-size: 14px;
		border-bottom: 1px solid $c-whisper;


		&_left,
		&_right {
			float: left;
			width: 50%;
		}
	}
}