///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// MAIN
///
.copyright {
	float: left;
	@include respond-to(small-max) {
		float: none;
		padding: {
			top: 5px;
			bottom: 5px;
		};
	}


	&__icon {
		display: inline-block;  *display: inline;  *zoom: 1;
		vertical-align: middle;
		margin-right: 5px;
		@include retina-sprite($sp-i-copyright-group);
		@include respond-to(small-max) {
			margin: {
				left: 15px;
				right: 15px;
			}
		}
	}


	&__text {
		font: {
			size: 12px;
		};
		color: $c-grey-suit;
		line-height: 37px;
		@include respond-to(small-max) {
			display: inline-block;
			vertical-align: middle;
			width: 80%;
			line-height: normal;
		}


		&_first,
		&_second {
			@include respond-to(small-max) {
				display: block;
			}
		}
	}
}