///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";

@import "copyright";
@import "currency";
@import "language";
@import "support";
@import "footer-menu";
///
/// MAIN
///
.footer {
	position: relative;
	background-color: $c-white-smoke;
	min-height: 190px;
	@include respond-to(small-max) {
		min-height: 0;
	}

	&.footer_checkout {
		background-color: $c-white;
	}


	&__top {
		padding: {
			top: 15px;
			bottom: 40px;
		}
		@include respond-to(small-max) {
			padding: {
				top: 0;
				bottom: 0;
			}
		}

		.footer_checkout & {
			border: {
				top: 1px solid $c-whisper;
			}
		}


		.container {
			padding-left: 0;
			@include respond-to(medium-max) {
				min-width: 0;
				max-width: $w-all;
			}
			@include respond-to(medium) {
				padding: {
					left: 25px;
					right: 25px;
				};
			}
			@include respond-to(small-max) {
				padding: {
					left: 15px;
					right: 15px;
				};
			}
		}
	}


	&__bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		width: $w-all;
		height: (37px);
		@include respond-to(small-max) {
			position: static;
			height: auto;
			min-height: 37px;
		}


		.container {
			border-top: 1px solid $c-whisper;
			padding-left: 0;
			@include respond-to(medium-max) {
				min-width: 0;
				max-width: $w-all;
			}
			@include respond-to(medium) {
				margin: {
					left: 25px;
					right: 25px;
				};
			}
		}
	}


	&_row {
		float: left;
		width: ($w-all / 3);
		@include respond-to(large-max) {
			&:first-child,
			&:nth-child(2) {
				width: 25%;
			}
			&:last-child {
				width: 50%;
			}
		}
		@include respond-to(small-max) {
			float: none;
			width: $w-all !important;
		}


		.footer_checkout & {
			float: none;
			width: $w-all;
		}


		&-acc {
			display: none;
			cursor: pointer;
			position: relative;
			@include respond-to(small-max) {
				display: block;
				border: {
					top: 1px solid $c-whisper;
					bottom: 1px solid $c-whisper;
				}
			}
		}


		&-curr-lang {
			display: none;
			@include respond-to(small-max) {
				display: block;


				.input__select {
					background-color: $c-white;
				}
			}
		}
	}
}