///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// MAIN
///
.footer-menu {
	&__title {
		font: {
			size: 14px;
			family: $f-RW-medium;
		};
		margin-bottom: 10px;
		@include respond-to(small-max) {
			cursor: pointer;
			position: relative;
			@include mixinDimensions($w-all, 45px);
			line-height: 45px;
			margin-bottom: 0;
			border-top: 1px solid $c-whisper;


			&-icon {
				position: absolute;
				top: 15px;
				right: 0;
				@include retina-sprite($sp-i-letter-open-group);


				.active & {
					top: 16px;
					right: 1px;
					@include retina-sprite($sp-i-letter-close-group);
				}
			}


			.footer_row-curr-lang & {
				border-top: 0;
			}
		}
	}


	&__row {
		//column-width: ;
		column-count: 2;
		column-fill: auto;
		column-gap: 0;
		writing-mode: tb-lr\9;
		*filter: flipV();
		@include respond-to(large-max) {
			column-count: 1;
		}
		@include respond-to(small-max) {
			display: none;
			border-top: 1px solid $c-whisper;
			padding: {
				top: 10px;
				bottom: 10px;
				left: 15px;
			}

			.active & {
				display: block;
			}


			.footer_row-curr-lang & {
				padding-left: 0;
			}
		}


		.footer_checkout & {
			column-count: auto;
			margin-bottom: 10px;
		}


		&_left,
		&_right {
			float: left;
			width: 50%;
		}


		&_left {
			padding: {
				left: 15px;
				right: 7.5px;
			};
		}


		&_right {
			padding: {
				left: 7.5px;
				right: 15px;
			};
		}
	}


	&__btn {
		display: block;
		height: 24px;
		line-height: 24px;
		font-size: 14px;
		color: $c-grey-suit;
		writing-mode: lr-tb\9;
		word-spacing: normal\9;
		*filter:flipH();


		.footer_checkout & {
			display: inline-block;  *display: inline;  *zoom: 1;
			margin-right: 15px;
		}
	}
}