///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// MAIN
///
.language {
	float: right;
	position: relative;
	@include respond-to(small-max) {
		display: none;
	}


	&__btn {
		display: block;
		line-height: 33px;
		text-align: center;
	}


	&__text,
	&__icon {
		display: inline-block;  *display: inline;  *zoom: 1;
		vertical-align: middle;
	}


	&__text {
		font-size: 14px;
		color: $c-grey-suit;
	}


	&__icon {
		margin: {
			left: 10px;
			right: 10px;
		}


		&_left {
			@include retina-sprite($sp-i-language-circle-group);
		}
		&_right {
			@include retina-sprite($sp-i-drop-down-arr-group);


			.active & {
				@include retina-sprite($sp-i-drop-up-arr-group);
			}
		}
	}
}