///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// MAIN
///
.radio {
	margin: {
		top: 15px;
		bottom: 30px;
	};


	&__field {
		position: relative;
		float: left;
		margin-right: 10px;


		&.active {
			.radio__img {
				@include retina-sprite($sp-i-radio-active-group);
			}
		}
	}



	&__img {
		&-wrap {
			vertical-align: middle;
		}
	}


	&__img,
	&__name {
		&-wrap {
			display: inline-block;  *display: inline;  *zoom: 1;
		}
	}


	&__img {
		display: inline-block;  *display: inline;  *zoom: 1;
		vertical-align: middle;
		@include retina-sprite($sp-i-radio-group);
	}


	&__name {
		font-size: 14px;
		margin-left: 5px;
	}
}