///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// MAIN
///
.tabs {
	width: 880px - 2;
	height: 42px;
	margin: {
		left: auto;
		right: auto;
		top: 20px;
		bottom: 20px;
	};
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	border: 1px solid transparent;
	box-shadow: 0 6px 8px 0 rgba(0,0,0,0.02);
	@include respond-to(medium) {
		width: 720px;
		white-space: nowrap;
	}
	@include respond-to(small-max) {
		display: none;
	}


	&__btn {
		float: left;
		width: (880px / 5) - 1;
		text-align: center;
		font-size: 14px;
		line-height: 42px;
		color: $c-navy-blue;
		background-color: $c-white-smoke;
		border-top: 1px solid $c-white-smoke;
		border-bottom: 1px solid $c-white-smoke;
		@include respond-to(medium) {
			width: (718px / 5);
		}


		&.active {
			color: $c-nero;
			background-color: $c-white;
		}


		&_first {
			border-top-left-radius: 2em;
			border-bottom-left-radius: 2em;
			border-left: 1px solid $c-white-smoke;
		}
		&_last {
			border-top-right-radius: 2em;
			border-bottom-right-radius: 2em;
			border-right: 1px solid $c-white-smoke;
		}
	}
}