///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// MAIN
///
.tabulate {
	margin: {
		top: 20px;
		bottom: 20px;
	}
	@include respond-to(medium) {
		padding: {
			left: 25px;
			right: 25px;
		}
	}
	@include respond-to(small-max) {
		margin: {
			top: 0;
			bottom: 0;
		};
		padding: {
			left: 15px;
			right: 15px;
		}
	}


	&__btn {
		position: relative;
		float: left;
		width: (1170px - (30px * 3)) / 4;
		height: 44px;
		margin-right: 30px;
		line-height: 46px;
		border-bottom: 1px solid $c-white-smoke;
		color: $c-radical-red;
		font-family: $f-R-medium;
		@include respond-to(large) {
			width: (940px - (30px * 3)) / 3;
		}
		@include respond-to(medium) {
			width: calc((100% - 30px) / 2);
			margin-right: 0;


			&:nth-child(odd) {
				margin-right: 30px;
			}
		}
		@include respond-to(small-max) {
			width: $w-all;
			margin: {
				right: 0;
			}
		}


		&_big {
			margin-right: 0;
			@include respond-to(large) {
				margin-right: 30px;
			}
		}
		&_large {
			@include respond-to(large) {
				margin-right: 0;
			}
		}


		&-icon {
			position: absolute;
			top: 16px;
			right: 0;
			@include retina-sprite($sp-i-tabulate-arr-group);
		}
	}
}