
p.description-short__title!= "Delivery time is:"

p.description-short__text!= "Registered Mail - 14-21 business days price - $20.00, no signature is required on delivery.</br>EMS - 5-9 business days price - $30.00, signature is required on delivery.</br>Your order will be packed safe and secure and dispatched within 24 hours."

p.description-short__text!= "This is exactly how your parcel will look like (pictures of a real shipping item). It has a look of a regular private letter and does not disclose its contents. Size - 9.4x4.3x0.3 inches (24x11x0.7cm)."
