
.bottom-certificate
    .container
        -for(var i = 0; i < 3; i++)
            .bottom-certificate__img-wrap
                img(
                    src="./image/img-bottom-certificate-" + i + ".png"
                    title="bottom-certificate"
                    alt="bottom-certificate"
                    class="bottom-certificate__img img_responsive"
                )