
p(
    class="copyright"
)
    i.copyright__icon
    span(
        class="copyright__text"
        data-id="<span class='copyright__text_first'>Copyright © 2016 Canada Pharmacy.</span><span class='copyright__text_second'>All rights reserved.</span>"
    )!= "<span class='copyright__text_first'>Copyright © 2016 Canada Pharmacy.</span><span class='copyright__text_second'>All rights reserved.</span>"