
.slider
    .slider__container.clearfix

        include _macros/_slider/slider-0
        include _macros/_slider/slider-1
        include _macros/_slider/slider-2
        include _macros/_slider/slider-3
        include _macros/_slider/slider-4
        include _macros/_slider/slider-5
        include _macros/_slider/slider-6
        include _macros/_slider/slider-7
        include _macros/_slider/slider-8

    .slider__btn-wrap
        include _macros/_slider/slider-btn