
.basket__btn-wrap.clearfix
    a(
        href="javascript:void(0);"
        title="Return to Shopping"
        class="basket__btn"
    )
        i.btn__icon
        != "Return to Shopping"

    +btnIcon("btn__basket", "CHECKOUT")