///
/// IMPORT FILES
///
@import "./_mixin/mixin";
@import "./_variable/variable";
@import "./_variable/sprite";
///
/// BODY
///
.body {
	&__row {
		position: relative;
		// bad, very bad idea
		min-height: calc(100vh - 75px);


		> .container {
			@include respond-to(medium-max) {
				padding: {
					left: 0;
					right: 0;
				}
			;
				min-width: 0;
				max-width: $w-all;
			}
		}

		// bad, very bad idea
		&--left,
		&--right {
			position: absolute;
			top: 0;
			height: $w-all;
		}

		&--left {
			left: 0;
			width: 60%;
		}
		&--right {
			right: 0;
			width: 40%;
			background-color: $c-white-smoke;
		}


		&_left,
		&_right {
			float: left;
			// bad, very bad idea
			min-height: calc(100vh - 75px);
		}
		&_left {
			width: (622px + 62px);
			.body__row_wrap {
				padding-right: 62px;
			}
		}
		&_right {
			width: (1170px - (622px + 62px) - 1);
			border-left: 1px solid $c-whisper;
			background-color: $c-white-smoke;
			.body__row_wrap {
				padding: {
					top: 30px;
					left: 30px;
				}
			}
		}
	}
	&__basket {
		> .container {
			max-width: 750px;
			@include respond-to(medium) {
				max-width: 720px;
			}
		}
	}
}
///
/// BTN
///
.btn {
	position: relative;
	z-index: 2;
	height: 26px;
	line-height: 26px;
	border-radius: 6px;
	background-color: $c-radical-red;
	text-align: center;
	color: $c-white;
	font: {
		size: 14px;
		family: $f-RW-bold;
	};
	transition: background .3s ease-in-out;
	@include respond-to(extra-small) {
		font-size: 12px;
	}


	&:hover,
	&:active {
		transition: background .3s ease-in-out;
	}


	&_small {
		min-width: (112 - (5 * 2)) * 1px;
		padding: {
			left: 5px;
			right: 5px;
		};
	}


	&_medium {
		min-width: (160 - (5 * 2)) * 1px;
		padding: {
			left: 5px;
			right: 5px;
		};
	}


	&_normal {
		&:hover {
			background-color: $c-radical-red-hover;
		}


		&:active {
			background-color: $c-radical-red-active;
		}
	}


	&_border {
		color: $c-radical-red;
		border: 1px solid $c-radical-red;
		background: rgb(255,255,255);
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0);


		&:hover {
			background: rgb(255,255,255);
			background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(253,244,246,1) 100%);
			background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(253,244,246,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(253,244,246,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fdf4f6',GradientType=0);
		}


		&:active {
			background: rgb(253,244,246);
			background: -moz-linear-gradient(top, rgba(253,244,246,1) 0%, rgba(253,244,246,1) 100%);
			background: -webkit-linear-gradient(top, rgba(253,244,246,1) 0%,rgba(253,244,246,1) 100%);
			background: linear-gradient(to bottom, rgba(253,244,246,1) 0%,rgba(253,244,246,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf4f6', endColorstr='#fdf4f6',GradientType=0);
		}
	}


	&__modal {
		&:hover {
			background-color: $c-radical-red-hover;
		}
		&:active {
			background-color: $c-radical-red-active;
		}
	}


	&__quantity {
		display: block;
		width: 215px;
		height: 45px;
		line-height: 45px;


		&_big {
			width: 560px;
			margin: {
				top: 15px;
				bottom: 30px;
			}
		}
	}


	&__more {
		display: block;
		margin-top: 20px;
	}


	&__pack {
		display: block;
	}


	&__basket {
		float: right;
		@include mixinDimensions(285px, 45px);
		line-height: 45px;
	}


	&__ordered {
		display: inline-block;  *display: inline;  *zoom: 1;
		padding: {
			left: 15px;
			right: 15px;
		};
		margin-top: 5px;


		&-wrap {
			text-align: center;
		}
	}


	&__send {
		display: block;
		height: 45px;
		line-height: 45px;
		margin-top: 20px;
	}


	// ICON
	&__icon {
		display: inline-block;  *display: inline;  *zoom: 1;
		vertical-align: middle;
		margin-right: 10px;


		.btn__quantity &,
		.btn__pack & {
			@include retina-sprite($sp-i-btn-add-cart-group);
		}
		.btn__more & {
			@include retina-sprite($sp-i-more-info-group);
		}
		.btn__basket & {
			@include retina-sprite($sp-i-basket-group);
		}
	}
	// TEXT
	&__text {
		vertical-align: middle;
	}
	// BTN VIEW ALL
	&__view {
		position: relative;
		display: inline-block;
		font-size: 14px;
		color: $c-radical-red;
		height: 44px;
		line-height: 44px;
		padding-right: 20px;


		&-icon {
			position: absolute;
			top: 16px;
			right: 5px;
			@include retina-sprite($sp-i-btn-view-all-group);
		}


		&_right {
			float: right;
			margin-right: 25px;
			@include respond-to(small-max) {
				margin-right: 15px;
			}
		}


		&_categories {
			padding-left: 15px;
		}
	}
	// MODAL SUBMIT
	&__modal {
		display: block;
		width: 280px;
		height: 46px;
		line-height: 46px;


		.open-menu & {
			@include respond-to(small-max){
				width: $w-all;
			}
		}
	}
	// VIEW ALL
	&__view-all {
		display: block;
		height: 110px;
		text-align: center;
		border-top: 1px solid $c-whisper;


		&:hover {
			.btn__view-all-icon {
				margin: {
					top: 9px;
				}
				@include retina-sprite($sp-i-search-view-hover-group);


				&--wrap {
					*background-color: $c-white;
					background-color: rgba($c-radical-red, 0.05);
					transition: background .3s ease-in-out;
				}
			}
		}


		&-icon {
			display: inline-block;  *display: inline;  *zoom: 1;
			@include retina-sprite($sp-i-search-view-group);
			margin: {
				top: 12px;
			}


			&--wrap {
				display: inline-block;  *display: inline;  *zoom: 1;
				@include mixinDimensions(30px);
				margin-top: 30px;
				border: 2px solid $c-radical-red;
				border-radius: $w-all;
				background-color: $c-radical-red;
				@include respond-to(medium-max) {
					@include mixinDimensions(34px);
				}
			}
		}


		&-text {
			font: {
				size: 14px;
				family: $f-RW-bold;
			}
			color: $c-radical-red;
		}
	}
}
///
/// MAIN TITLE
///
.main {
	&__title {
		font: {
			size: 20px;
			family: $f-RW-heavy;
		};
		color: $c-black;
		height: 44px;
		line-height: 44px;
		@include respond-to(small-max) {
			padding-left: 15px;
			font-size: 16px;
			line-height: normal;


			&:before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				height: $w-all;
			}
		}


		&-text {
			@include respond-to(small-max) {
				display: inline-block;
				vertical-align: middle;
			}
		}


		&_category {
			float: left;
			@include mixinDimensions(50%, 45px);
			padding-left: 0;
			text-align: center;
			font: {
				size: 16px;
				family: $f-RW-medium;
			}


			&.active {
				border-bottom: 1px solid $c-radical-red;
			}
		}


		&-wrap {
			border-bottom: 1px solid $c-whisper;
			@include respond-to(medium) {
				margin: {
					left: 25px;
				};
			}
			@include respond-to(small-max) {
				position: relative;
			}


			.body__checkout & {
				margin-bottom: 20px;
			}


			&_border {
				&--top {
					@include respond-to(small-max) {
						border-top: 1px solid $c-whisper;
					}
				}
			}


			&--hide {
				@include respond-to(small-max) {
					display: none;
				}
			}
			&--show {
				display: none;
				@include respond-to(small-max) {
					display: block;
					height: 45px;
				}
			}
		}


		&_left {
			float: left;
			@include respond-to(small-max) {
				//float: none;
			}
		}
	}
}
///
/// SELECT
///
select {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	@include mixinDimensions($w-all);
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	font-size: initial;
	cursor: pointer;
	z-index: 100;
}
.input__select {
	position: relative;
	// 1.5 - padding, 0.1 - border-left/right
	@include mixinDimensions(($w-all - 1.5 - (0.1 * 2)), 40px);
	line-height: 42px;
	padding: {
		left: 1.5%;
	};
	font: {
		size: 14px;
		family: $f-R-regular;
	}
	border: 1px solid $c-gainsboro;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
	transition-property: border, box-shadow;
	transition: .3s ease-in-out;
	@include respond-to(medium-max) {
		@include mixinDimensions($w-all, 42px);
		padding-left: 15px;
	}


	&:hover {
		border-color: $c-black;
		box-shadow: none;
		transition-property: border, box-shadow;
		transition: .3s ease-in-out;


		.input__select-icon {
			@include retina-sprite($sp-i-select-arr-hover-group);


			&--wrap {
				border-color: $c-black;
				transition-property: border-color;
				transition: .3s ease-in-out;
			}
		}
	}


	&-icon {
		display: block;
		margin: {
			top: 8px;
			left: 13px;
		};
		@include retina-sprite($sp-i-select-arr-group);


		&--wrap {
			position: absolute;
			top: 9px;
			right: 0;
			@include mixinDimensions(41px, 22px);
			border-left: 1px solid $c-gainsboro;
			transition-property: border-color;
			transition: .3s ease-in-out;
		}
	}
}
///
/// BOTTOM INFO
///
.bottom-info {
	text-align: center;
	margin-bottom: 30px;
	@include respond-to(medium) {
		margin-bottom: 6px;
	}
	@include respond-to(small-max) {
		margin-bottom: 15px;
	}


	&_left {
		float: left;
		@include respond-to(medium) {
			width: 50%;
			padding-right: 3px;
		}
		@include respond-to(small-max) {
			float: none;
			width: $w-all;
		}
	}


	&_centered {
		display: inline-block;  *display: inline;  *zoom: 1;
		@include respond-to(large-max) {
			float: right;
		}
		@include respond-to(medium) {
			width: 50%;
			padding-left: 3px;
		}
		@include respond-to(small-max) {
			float: none;
			width: $w-all;
		}
	}


	&_right {
		float: right;
		@include respond-to(large-max) {
			float: none;
			display: block;
		}
	}
}
///
/// DROP DOWN
///
.drop__down {
	display: none;
	position: absolute;
	bottom: 37px;
	left: 0;
	background-color: $c-white;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.06);


	&:after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: -20px;
		margin-left: -10px;
		border: {
			width: 10px;
			style: solid;
			color: $c-white transparent transparent transparent;
		}
	}


	&-btn {
		display: block;
		height: 37px;
		line-height: 37px;
		font-size: 14px;
		color: $c-grey-suit;
		white-space: nowrap;
		padding: {
			left: 10px;
			right: 15px;
		};
	}
}
///
/// CATEGORY VIEW
///
.category__view {
	float: right;
	height: 44px;
	@include respond-to(small-max) {
		display: block;
		width: $w-all;
		text-align: center;
	}


	&-btn {
		display: inline-block;  *display: inline;  *zoom: 1;
		position: relative;
		height: 44px;
		line-height: 44px;
		font: {
			family: $f-RW-medium;
		};
		margin: {
			right: 20px;
			left: 20px;
		};
		color: $c-radical-red;
		@include respond-to(medium-max) {
			height: 45px;
		}
		@include respond-to(small-max) {
			border-top: 1px solid $c-whisper;
			width: (100% / 3);
			margin: {
				left: 0;
				right: 0;
			};
		}


		&.active {
			color: $c-black;
			border-bottom: 1px solid $c-radical-red;
		}
	}


	&-icon {
		margin-right: 10px;
	}


	&-icon,
	&-text {
		display: inline-block;  *display: inline;  *zoom: 1;
		vertical-align: middle;
	}


	&-grid {
		.category__view-icon{
			@include retina-sprite($sp-i-grid-group);
		}
		&.active {
			.category__view-icon{
				@include retina-sprite($sp-i-grid-active-group);
			}
		}
	}
	&-list {
		.category__view-icon{
			@include retina-sprite($sp-i-list-group);
		}
		&.active {
			.category__view-icon{
				@include retina-sprite($sp-i-list-active-group);
			}
		}
	}
	&-gallery {
		.category__view-icon{
			@include retina-sprite($sp-i-gallery-group);
		}
		&.active {
			.category__view-icon{
				@include retina-sprite($sp-i-gallery-active-group);
			}
		}
	}
}
///
/// RATING
///
.rating {
	display: inline-block;  *display: inline;  *zoom: 1;
	margin-left: 15px;
	margin-top: 10px;


	&__icon {
		display: inline-block;  *display: inline;  *zoom: 1;
		vertical-align: middle;
	}


	&_four {
		.rating__icon {
			@include retina-sprite($sp-i-rating-four-group);
		}
	}
	&_five {
		.rating__icon {
			@include retina-sprite($sp-i-rating-five-group);
		}
	}
}
///
/// ROW
///
.row {
	&_left,
	&_right {
		float: left;
		height: $w-all;
	}


	&_left {
		width: 290px;
		text-align: center;
	}
	&_right {
		width: 660px;
	}
}
///
/// PAGE WITH INPUT
///
.track {
	margin: {
		top: 45px;
		bottom: 120px;
	};
	.form__container {
		max-width: 560px;
		margin: {
			left: auto;
			right: auto;
		};
	}
}
.input {
	height: (42px - (1 * 2));
	border: 1px solid $c-whisper;
	padding: 0;
	padding-left: 15px;
	border-radius: 0;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
	font-size: 14px;

	.track & {
		// 560 max
		// 0.17857142857 = 1px[border] * 100% / 560
		// 2.67857142857 = 15px[padding-left] * 100% / 560
		width: ($w-all - (0.17857142857 * 2) - 2.67857142857);
		@include respond-to(medium-max) {
			width: $w-all;
		}
	}
	.form__field-code & {
		// 190 max
		width: ($w-all - (0.52631578947 * 2) - 7.89473684211);
		@include respond-to(medium-max) {
			width: $w-all;
		}
	}
	.form__email &,
	.form__address &,
	.form__phone & {
		// 622
		width: ($w-all - (0.16077170418 * 2) - 2.4115755627);
		@include respond-to(medium-max) {
			width: $w-all;
		}
	}
}